.Header {
  opacity: 0;
  animation: Header 0.5s ease 0.5s forwards;
}

@keyframes Header {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.MainSectionCol1 {
  animation: MainSectionCol1 0.5s ease forwards;
}

@keyframes MainSectionCol1 {
  from {
    opacity: 0;
    transform: translateX(-30px);
    visibility: hidden;
  }

  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

.MainSectionCol2 {
  animation: MainSectionCol2 0.5s ease 0.5s forwards;
}

@keyframes MainSectionCol2 {
  from {
    opacity: 0;
    transform: translate(20px, 40px);
    visibility: hidden;
  }

  to {
    opacity: 1;
    transform: translate(0);
    visibility: visible;
  }
}

.scrollRight {
  animation: scrollRight 0.5s ease forwards;
}

@keyframes scrollRight {
  from {
    opacity: 0;
    transform: translate(20px, 40px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    visibility: visible;
  }
}

.scrollLeft {
  animation: scrollLeft 0.5s ease forwards;
}

@keyframes scrollLeft {
  from {
    opacity: 0;
    transform: translate(-20px, 40px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    visibility: visible;
  }
}
